* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
.header {
    width:1200px ;
    margin: auto;
    align-items: center;
}
.container {
width: 1200px;
height: 100px;
margin:  0 auto;
margin-top: -20px;
display: flex;
border-radius: 15px;
justify-content: space-between;
height: 60px;
position:fixed;
padding-left: 30px;
margin-left: 15px;
}
.a100{
    width: 175px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 26px;
    font-weight: 700;
    line-height: 32.78px;
    letter-spacing: 0.03em;    
}
.a101{
    width: 175px;
    height: 33px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 26px;
    font-weight: 800;
    line-height: 32.78px;
    letter-spacing: 0.03em;/
}
.a102{
    color: #3562f8;
}
.het {
position: relative;
}
.pr {
margin-top: 20px;
}   
.aul {
display: flex;
width: 1200px;
margin-left: 290px;
margin-top:15px;
}
.logo {
display: flex;
align-items: center;
margin-left: -40px;
}
.nem {
display: flex;
align-items: center;
margin-top: 10px;
margin-left: 100px;
text-decoration: none;
font-family: Manrope;
font-size: 15px;
font-weight: 500;
}
.nem li {
margin-left: 30px;
list-style: none;
}
.nem li:hover {
color: rgb(151, 20, 20);
cursor: pointer;
}
.SignUp:hover {
background-color: rgba(30, 41, 187, 0.87);
color: rgb(164, 245, 131);
}
.SignUp {
padding: 12px 22px;
border-radius: 10px;
background-color: rgba(77, 119, 255, 1);
border: none;
color: white;
cursor: grab;
font-family: Manrope;
font-size: 16px;
font-weight: 600;
margin-left: 10px;
}
.SignIn:hover {
background-color: rgb(189, 21, 21);
color: rgb(208, 211, 34);
} 
.SignIn {
padding: 12px 22px;
border-radius: 10px;
background-color: rgb(255, 255, 255);
border: none;
color: rgb(12, 10, 10); 
cursor:pointer;
font-family: Manrope;
font-size: 16px;
font-weight: 600;
}

.container1 {
width: 1200px;
margin: auto;
}
.block {
border-radius: 20px;
display: flex;
margin-top: 20px;
}
h1 {
width: 710px;
height: 140px;
font-size: 54px;
font-weight: 700;
margin-top: 150px;
font-family: Manrope;
font-size: 54px;
font-weight: 700;
line-height: 70px;
letter-spacing: 0.02em;
text-align: left;

}
p {
width: 680px;
height: 60px;
font-size: 16px;
font-weight: 600;
font-family: Manrope;
line-height: 20px;
letter-spacing: 0.03em;
margin-top: 26px;
}
.btn1 {
width:162px;
height:52px;
padding: 16px 36px ;
border-radius: 10px;
background: rgba(77, 119, 255, 1);
color: white;
border:none ;
margin-top: 26px;  
font-family: Manrope;
font-size: 16px;
font-weight: 600;
line-height: 20px;
}

.img1 {
margin-top: 50px;
}
.container2 {
width:1200px;
margin: auto;
}
.block2 {
border-radius: 20px;
margin-top: 100px;
}
.block-text2 {
margin-left: 80px;
}
.block-text2 p {
color: rgba(77, 119, 255, 1);
width: 1050px;
height: 20px;
font-size: 18px;
font-weight: 700;
margin-bottom: 12px;
font-family: Manrope;
line-height: 20px;
letter-spacing: 0.03em;
text-align: center;
}
.block-text2 h2 {
width: 1050px;
height: 40px;
font-size: 38px;
font-weight: 700;
text-align: center;
margin-bottom: 52px;
font-family: Manrope;
line-height: 40px;
letter-spacing: 0.015em;
}
.block-cards {
display: flex;
}
.block-card1 {
width: 287px;
height: 226px;
-webkit-box-shadow: 1px 10px 10px 3px #1212121A;
border-radius: 0px 0px 10px 10px;
border-top:4px solid rgba(77, 119, 255, 1);
}
.block-card1 img {
margin-top: 50px;
margin-left: 40px;
margin-bottom: 14px; 
}
.block-card1 h4 {
width:270px;
height:28px;
font-size:18px;
font-weight:700;
margin-top:14px;
margin-left:40px;
margin-bottom:12px;
font-family: Manrope;
}
.block-card1 p {
width: 230px;
height: 32px;
margin-top:12px; 
margin-left: 40px;
margin-bottom:50px;
font-family: Manrope;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
}
.block-card2 {
width: 287px;
height: 226px;
-webkit-box-shadow: 1px 10px 10px 3px #1212121A;
border-radius: 0px 0px 10px 10px;
border-top:4px solid rgba(77, 119, 255, 1);
margin-left: 30px;
}
.block-card2 img {
margin-top: 50px;
margin-left: 40px;
margin-bottom: 14px; 
}
.block-card2 h4 {
width: 270px;
height: 28px;
font-size: 18px;
font-weight: 700;
margin-top: 14px;
margin-left: 40px;
margin-bottom:12px;
font-family: Manrope;
}
.block-card2 p {
width: 200px;
height: 32px;
font-size:13px;
font-weight: 500;
margin-top:12px; 
margin-left: 40px;
margin-bottom:50px;
font-family: Manrope;
}
.block-card3 {
width: 287px;
height: 226px;
-webkit-box-shadow: 1px 10px 10px 3px #1212121A;
border-radius: 0px 0px 10px 10px;
border-top:4px solid rgba(77, 119, 255, 1);  
margin-left: 30px;
}
.block-card3 img {
margin-top:50px;
margin-left: 40px;
margin-bottom: 14px;
}
.block-card3 h4 {
width: 270px;
height: 28px;
font-size: 18px;
font-weight: 700;
margin-top:14px ;
margin-left:40px ;
margin-bottom:12px ;
font-family: Manrope;
}
.block-card3 p {
width:220px;
height:48px;
font-size:13px;
font-weight:500;
margin-top:12px;
margin-left:40px;
margin-bottom:34px;   
font-family: Manrope;
}
.block-card4 {
width: 287px;
height: 226px;
-webkit-box-shadow: 1px 10px 10px 3px #1212121A;
border-radius: 0px 0px 10px 10px;
border-top:4px solid rgba(77, 119, 255, 1); 
margin-left: 30px;
}
.block-card4 img {
margin-top: 50px;
margin-left:40px;
margin-bottom:14px;
}
.block-card4 h4 {
width: 270px;
height: 28px;
font-size: 18px;
font-weight: 700;
margin-top: 14px;
margin-left:40px;
margin-bottom:12px;
font-family: Manrope;
}
.block-card4 p {
width: 220px;
height: 48px;
font-size: 13px;
font-weight: 500;
margin-top: 12px; 
margin-left: 40px;  
margin-bottom: 34px; 
font-family: Manrope;
}

.container3 {
width: 1200px;
margin: auto;
margin-top: 100px;
}
.block4 {
display: flex;
align-items: start;

}
.tap {
width: 1200px;
position:absolute;
z-index: 100px;
}
.find { 
width: 100px;
height: 20px;
font-size: 16px;
font-weight: 700;
font-family: Manrope;
}
.block4-text h2 {
width: 493px;
height: 80px;
font-size: 34px;
font-weight: 700;    
font-family: Manrope;
margin-top: 10px;
}
.round {
width: 531px;
height: 80px;
font-size: 16px;
font-weight: 400;
margin-top: 26px;
font-family: Manrope;
}
.flex {
display: flex;
margin-top: 26px;
}
.green {
margin-bottom: -14px;
margin-right: 12px;
}
.box {
display: flex;
margin-top: 14px;
}
.red {
position: absolute;
margin-top:-4px;
margin-right: 10px;
}
.rt {
width:750px;
height: 30px;
font-size: 17px;
font-weight: 600;
font-family: Manrope;
}
.tr {
margin-left: 36px;
margin-top: -1px;
display: flex;
width: 500px;
height: 20px;
font-size: 17px;
font-weight: 600;
font-family: Manrope;
}
.box {
margin-bottom: 5px;
}
.btn2 {
background-color: rgba(77, 119, 255, 1);
color: white;
border: none;
padding: 16px 36px;
border-radius: 10px; 
margin-top: 26px;  
}
.nur-position {
width: 202px;
height: 256px;
border-radius: 10px;
padding: 18px 30px;
-webkit-box-shadow: -6px 2px 40px 10px #1212121A;
margin-left: 670px;
margin-top: 45px;
}
.er{
width: 125px;
height: 20px;
gap: 0px;
opacity: 0px;
font-family: Manrope;
font-size: 14px;
font-weight: 700;
margin-top: 3px;
}
.ek{
    width: 87px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    color: #696969;
    margin-top: 1px;        
}
.adina{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 0px;
}
.li{
    width: 73px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-top: -43px;    
    margin-left: 60px; 
}
.lin{
    width: 82px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #696969;   
    margin-left: 60px;     
    margin-top: 1px;
}
.gap{
    margin-top: -48px;
}
.Jackson{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 0px;
}
.de{
    width: 100px;
    height: 20px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.03em;
    margin-top: -43px;    
    margin-left: 60px; 
}
.au{
    width: 82px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #696969;   
    margin-left: 60px;     
    margin-top: 1px;
}
.gat{
    margin-top: -48px;
}
.gyp{
    margin-top: 3px;
}
.btn3 {
    background-color: #EDF1FF;
    color: #4D77FF;
    width: 142px;
    height: 32px;
    gap: 10px;
    border-radius: 10px;
    opacity: 0px;
    border: none;
    margin-top: 20px;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 500;
}
.container4 {
width: 1200px;
margin: auto;
margin-top: 152px;
}
.block5 {
display: flex;
}
.ul {
margin-left:-467px;
margin-top: 270px;
}
.ol {
margin-left: -679px;
margin-top:315px;
}
.btn4{
background-color:rgba(77, 119, 255, 1) ;
color: white;
padding: 16px 36px;
border-radius: 10px;
border: none;
margin-left:-711px;
margin-top: 375px;
font-size: 16px;
font-weight: 500;
}
.mak {
color: rgba(77, 119, 255, 1);
width: 200px;
height: 20px;
font-size: 18px;
font-weight: 700;
margin-left:70px ;
font-family: Manrope;
}
.block5-text h2 {
width: 470px;
height: 80px;
font-size: 35px;
font-weight: 700;
margin-left: 70px;
margin-top: 10px;
font-family: Manrope;
}
.bak {
width: 470px;
height: 60px;
font-size: 16px;
font-weight:400;
margin-left:70px;
margin-top: 26px;
font-family: Manrope;
}
.cat {
margin-left:30px;
margin-top:-27px;
font-size: 16px;
font-weight: 700;
font-family: Manrope;
}
.car {
font-size: 16px;
font-weight: 700;
margin-left:1px ;
margin-top:-27px; 
font-family: Manrope;
}
.osh {
margin-left: -30px;
margin-top: 3px;
}
.container5 {
width: 1200px;
margin: auto;
margin-top: 160px;
}
.block6-text p {
color: rgba(77, 119, 255, 1);
text-align: center;
width:1200px;
height: 20px;
font-size: 16px;
font-family: Manrope;
}
.block6-text h2 {
margin-left: 400px;
width: 417px;
height: 80px;
font-size: 35px;
font-weight: 700;
text-align: center;
font-family: Manrope;
margin-top: 10px;
}
.block-cards2 {
display: flex;
margin-top: 50px;
}
.block-card5 {
width: 287px;
height: 190px;
top: 3px;
padding: 50px 78px 44px 78px;
border-radius: 0px 0px 10px 10px;
margin-left: 150px;
border-top:4px solid rgba(77, 119, 255, 1);
-webkit-box-shadow: 0px 10px 20px 10px #1212121A;
}
.block-card5 h2 {
text-align: center;
width: 120px;
height: 40px;
font-size: 36px;
font-weight: 700;
margin-left: 101,5px; 
margin-bottom: 12px;  
font-family: Manrope;
}
.block-card5 h4 {
width: 300px;
height: 28px;
font-size: 16px;
font-weight: 700;
font-family: Manrope;
}
.block-card5 p {
width: 100px;
height: 16px;
font-size: 13px;
font-weight: 500;
text-align: center;
margin-left: 20px;
font-family: Manrope;
margin-top: 0px;
}
.block-card6 {
width: 287px;
height: 190px;
top: 3px;
padding: 50px 78px 44px 78px;
border-radius: 0px 0px 10px 10px;
margin-left: 30px;
border-top:4px solid rgba(77, 119, 255, 1);
-webkit-box-shadow: 0px 10px 20px 10px #1212121A;
}
.block-card6 h2 {
width: 125px;
height: 40px;
font-size: 36px;
font-weight: 700;
margin-bottom: 12px;
font-family: Manrope;
}
.block-card6 h4 {
width: 150px;
height: 28px;
font-size: 16px;
font-weight: 700;
font-family: Manrope;
margin-top: 0px;
}
.block-card6 p {
width: 134px;
height: 16px;
font-size: 13px;
font-weight: 400;
text-align: center;
font-family: Manrope;
margin-top: 0px;
}
.block-card7 {
width: 287px;
height: 190px;
top: 3px;
padding: 50px 78px 44px 78px;
border-radius: 0px 0px 10px 10px; 
margin-left: 30px;
border-top:4px solid rgba(77, 119, 255, 1);
-webkit-box-shadow: 0px 10px 20px 10px #1212121A;
}
.block-card7 h2 {
width: 100px;
height: 40px;
font-size: 36px;
font-weight: 700;
margin-left: 20px;
margin-bottom: 12px;
font-family: Manrope;
}
.block-card7 h4 {
width: 150px;
height: 28px;
font-size: 16px;
font-weight: 700;
font-family: Manrope;
}
.block-card7 p {
width: 150px;
height: 16px;
font-size: 14px;
font-weight: 400;
text-align: center;
font-family: Manrope;
margin-top: 0px;
}
.container6 {
width: 1200px;
margin: auto;
}
.block7 {
margin-top: 140px;
}
.block7-text {
margin-left: 600px;
}
.block7-text h2 {
width: 550px;
height: 40px;
font-size: 36px;
font-weight: 700;
text-align: center;
margin-left:-220px;
font-family: Manrope;
}
.com {
width: 400px;
height: 20px;
font-size: 16px;
font-weight: 400;
text-align:center;
margin-left:-160px;
margin-top: 11px;
margin-bottom: 130px;
font-family: Manrope;
}
.pod {
width: 533px;
height: 160px;
top: 3364px;
left: 1793px;
gap: 0px;
opacity: 0px;
font-family: Manrope;
font-size: 25px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0.03em;
text-align: left;
}
.img2 {
margin-top:-350px;
}
.block7-text h4 {
width: 149px;
height: 20px;
font-size: 20px;
font-weight: 700;
font-family: Manrope;
margin-top: 134px;
}
.kid {
width: 208px;
height: 14px;
font-size: 14px;
font-weight: 700;
margin-top: 14px;
font-family: Manrope;
}
.img2h1 {
width: 420px;
height: 360px;
top: 3394px;
left: 1241px;
border: 2px 0px 0px 0px;
border: 3px solid rgba(77, 119, 255, 1);
margin-left:70px;
margin-top:-300px ;
}
.container7 {
width: 1200px;
margin: auto;
}
.block8 {
margin-top:220px;
display: flex;
}
.block8-text p {
width:400px;
height: 80px;
font-size:16px;
font-weight: 400;
margin-top: 12px;
font-family: Manrope;
}
.block9-text {
margin-left: 150px;
}
.block9-text h4 {
width: 95px;
height: 28px;
font-size: 20px;
font-weight: 700;
font-family: Manrope;
}
.block10-text {
margin-left:330px;
margin-top: -162px;
}
.block10-text h4 {
width: 95px;
height: 28px;
font-size: 20px;
font-weight: 700;
font-family: Manrope;
}
.block11-text {
margin-left:490px;
margin-top:-122px;
font-family: Manrope;
}
.block11-text h4 {
width: 95px;
height: 28px;
font-size: 20px;
font-weight: 700;
}
.srch {
margin-left:630px;
margin-top:-122px;
}
.srch h4 {
width: 200px;
height: 28px;
font-size: 20px;
font-weight: 700;
font-family: Manrope;
}
.el {
width: 120px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 16px; 
font-family: Manrope;
}
.ck {
width: 100px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 10px;  
font-family: Manrope;  
}
.rx {
width: 120px;
font-size: 14px;
font-weight: 400;
margin-top: 10px;
font-family: Manrope;
}
.sm {
width: 39px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 16px;
}
.az {
width: 41px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top:10px;
}
.gl {
width: 57px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 10px;
}
.ny {
width: 105px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 16px;
}
.eg {
width: 100px;
height: 20px;
font-size: 14px;
font-weight: 400;
margin-top: 10px;
}
.bk {
width:54px;
height:20px;
font-size:14px;
font-weight: 400;
margin-top:10px;
}
.mish {
margin-top: 16px;
}
.inst{
    margin-left: 15px;
}
.tiwt{
    margin-left: 15px;
}
body{
    margin: 0%;
    padding: 0%;
    font-family: "Arial";
}
i{
    position: relative;
    position: fixed;
    font-size: 50px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 200px;
    margin-top: -300px;
    margin: auto;
    width: 1200px;
    margin-left: 1200px;
    margin-top: -380px;
}
